<div class="body">
  <div class="title">
    <p>Historial de solicitudes</p>
  </div>
  <div class="requests-container">
    <div class="groupDate">
      <p>[Month] 2023</p>
    </div>
    <div class="card">
      <p class="subject">Bloqueo Temporal</p>
      <span class="state">Aprobado</span>
      <p class="ref">Referencia: P00001-06/06/2024</p>
      <p class="nd">16/06/2024</p>
    </div>
    <div class="card">
      <p class="subject">Bloqueo Temporal</p>
      <span class="state">Aprobado</span>
      <p class="ref">Referencia: P00001-06/06/2024</p>
      <p class="nd">16/06/2024</p>
    </div>
  </div>
</div>
