<div class="body">
  <div class="title">
    <p>Historial de solicitudes</p>
  </div>
  <div class="requests-container">
    <div class="groupDate">
      <p>Enero 2024</p>
    </div>
    <div class="card">
      <p class="subject">Solicitud de transferencia</p>
      <span class="state">Aprobado</span>
      <p class="ref">Referencia: 00001</p>
      <p class="nd">05/06/2024</p>
    </div>
    <div class="card">
      <p class="subject">Solicitud de transferencia</p>
      <span class="state" style="color: gray">Pendiente</span>
      <p class="ref">Referencia: 00002</p>
      <p class="nd">12/06/2024</p>
    </div>
    <div class="card">
      <p class="subject">Solicitud de transferencia</p>
      <span class="state" style="color: red">Denegado</span>
      <p class="ref">Referencia: 00003</p>
      <p class="nd">19/06/2024</p>
    </div>
  </div>
</div>
