.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  overflow: hidden;

  .title {
    position: fixed;
    opacity: 0;
    width: 50%;
    z-index: 2;
    color: #fff;
    font-size: large;
    animation: title 2.3s forwards;
    transition: all ease-in-out;

    @keyframes title {
      50% {
        transform: translateY(-1px);
        opacity: 0;
      }

      80% {
        opacity: 1;
        filter: blur(0px);
        transform: translateY(-100px);
        z-index: 99;
      }

      100% {
        opacity: 0;
        filter: blur(12px);
      }
    }
  }

  .logo {
    position: fixed;
    width: 200px;
    height: 200px;
    z-index: 3;
    animation: logo 2.3s forwards;
    transition: all ease-in-out;
  }

  @keyframes logo {
    0% {
      transform: scale(0);
      opacity: 1;
    }

    80% {
      transform: scale(1);
      opacity: 1;
      filter: blur(0px);
    }

    100% {
      opacity: 0;
      filter: blur(12px);
    }
  }

  .splashArt {
    position: fixed;
    content: '';
    background-color: #33bba4;
    border-radius: 50%;
    width: 500px;
    height: 500px;
    z-index: 1;
    overflow: hidden;
    animation: splashArt 2.5s forwards;
    transition: all ease-in-out .5;
  }

  @keyframes splashArt {
    0% {
      transform: scale(0);
      opacity: 1;
    }

    80% {
      transform: scale(3);
      opacity: 1;
      filter: blur(0px);
    }

    100% {
      filter: blur(12px);
      opacity: 0;
    }
  }
}
