<footer class="footer">
  <span class="icon-container">
    <mat-icon fontIcon="currency_exchange"></mat-icon>
    <p class="description">Tipo de cambio</p>
  </span>
  <span class="icon-container" (click)="NavigateHome()">
    <mat-icon id="home" fontIcon="chair"></mat-icon>
    <p class="description">Home</p>
  </span>
  <span class="icon-container" (click)="NavigateRequest()">
    <mat-icon id="request" fontIcon="request_quote"></mat-icon>
    <p class="description">Solicitudes</p>
  </span>
  <span class="icon-container">
    <mat-icon id="search" fontIcon="search"></mat-icon>
    <p class="description">Ayuda</p>
  </span>
</footer>
